@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


/*carosel slide part */

.carousel-inner img {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px);
}

.carousel-inner2 img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h2 {
    color: white;
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.lead {
    font-size: .8em;
}

.padding {
    padding-bottom: 2rem;
}


/* receipe part*/

h3 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#receipe p {
    font-weight: 500;
}

#receipe card {
    border-radius: 1px;
    box-shadow: 5px 5px 15px rgb(58, 50, 50);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#receipe .card:hover {
    background: rgb(211, 199, 199);
    color: #000000;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 15px rgb(42, 39, 39);
}

#receipe .card:hover h3,
#receipe .card:hover i {
    color: #222B31;
}


/*receipe part end*/


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .caption h1 {
        font-size: 3rem;
        letter-spacing: .2rem;
        padding-bottom: 1rem;
        color: white;
    }
    .caption h3 {
        font-size: 2rem ;
        padding-bottom: 1.6rem;
        color: white;
    }
    .btn-lg {
        font-size: 1.1rem;
        padding: .6rem 1.3rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    /*---Firefox Bug Fix --*/
    .carousel-item {
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.3s ease;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
    }
    /*--- Fixed Background Image --*/
    figure {
        margin: 0;
    }
    /*--- Bootstrap Padding Fix --*/
    [class*="col-"] {
        padding: 1rem;
    }}
/*login part*/