@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.padding {
    padding-bottom: 2rem;
}

.hm-gradient {
    background-color: #222B31;
    background-image: linear-gradient(to top, #222B31 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.display-4{
    margin: 4%;
}


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background: #151414;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright-area{
    background: #222B31;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a{
    color: #ff5e14;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: #ff5e14;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}
/*---Media Queries --*/

@media (max-width: 768px) {
    .display-4 {
        font-size: 200%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.padding {
    padding-bottom: 2rem;
}
/*---Media Queries --*/

@media (max-width: 768px) {
    .display-4 {
        font-size: 200%;
    }
}

@media (max-width: 576px) {
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
    /*---Firefox Bug Fix --*/
    .carousel-item {
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.3s ease;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
    }
    /*--- Fixed Background Image --*/
    figure {
        margin: 0;
    }
    /*--- Bootstrap Padding Fix --*/
    [class*="col-"] {
        padding: 1rem;
    }}


